<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="RestAssured" thread-count="1" parallel="tests" verbose="4">
    <listeners>
        <listener class-name="com.qa.gorest.listeners.ExtentReportListener"></listener>
    </listeners>
    <test name="gorest">
        <parameter name="baseURI" value="https://gorest.co.in"></parameter>
        <classes>
            <class name="com.qa.gorest.tests.GetUserTest"/>
        </classes>
    </test>
    <test name="Go Rest API Create User Test">
        <parameter name="baseURI" value="https://gorest.co.in" />

        <classes>
            <class name="com.qa.gorest.tests.CreateUserTest" />

        </classes>
    </test>

    <test name="circuit">
        <parameter name="baseURI" value="http://ergast.com"></parameter>
        <classes>
            <class name="com.qa.gorest.tests.CircuitTest"/>
        </classes>
    </test>
    <test name="reqres">
        <parameter name="baseURI" value="https://reqres.in"></parameter>
        <classes>
            <class name="com.qa.gorest.tests.ReqRespTest"/>
        </classes>
    </test>
    <test name="amadeus">
        <parameter name="baseURI" value="https://test.api.amadeus.com"></parameter>
        <parameter name="grantType" value="client_credentials"></parameter>
        <parameter name="clientId" value="XuplJn85IARkRimQ71bEZJjeBlonSUi3"></parameter>
        <parameter name="clientSecret" value="QBQGBGKJufxqPZVA"></parameter>
        <classes>
            <class name="com.qa.gorest.tests.AmadeusAPITest"/>
        </classes>

    </test>

</suite>